@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg : #242526;
    --bg-accent:#484a4d;
    --text-color: #dadce1;
    --nav-size:60px;
    --border: 1px solid #474a4d;
    --border-radius:8px;
    --speed:500ms;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cascadia Code';
   
}
.rc{
    background-image: url("./bgheader.jpg");
    background-size: cover;
    z-index:2000;
    margin-top: 4rem;
    padding-top: 30rem;
}
body{
    background-color: black;
    color: azure;
}
