.dropdown-menu {
    position: absolute;
    top: 87px;
    right: -30px;
    width: 300px;
    transform: translateX(-45%);
    background-color: var(--bg);
    border: var(--border);
    padding: 1rem;
    overflow: hidden;
}

.menu-item {
    display: flex;
    flex-direction: column; 
    transition: background var(--speed);
    padding: 0.5rem;
    
}

.menu-item a {
    margin-top: 0.5rem; 
}
.link-dropdown:hover{
    background-color: rgb(99, 99, 99);
    transition: 580ms ;
}
.menu-primary-enter{
 position: absolute;
 transform: translateX(-110%);
 background-color: red;
}
.menu-primary-enter-active{
    transform: translateX(0%);
    transition: all 580ms ease;
}
.menu-primary-exit{
    position: absolute;
  
   }
.menu-primary-exit:active{
    transform: translateX(-110%);
    transition: all 580ms ease;
}


.menu-setting-enter{
    transform: translateX(-110%);
   }
   .menu-setting-enter-active{
       transform: translateX(0%);
       transition: all 580ms ease;
   }
   .menu-setting-exit{
       
     
      }
   .menu-setting-exit:active{
       transform: translateX(-110%);
       transition: all 580ms ease;
   }